<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" href="/static/adminpage.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    
    
    <nav>
      <h1>Steam</h1>
      <div class="left">
        <a href="#signin">Sign In</a>
      </div> 
      <div class="center">
        <a href="#login">Login</a>
      </div>
      <div class="right">
        <a href="#contact">Contact</a>
      </div>
    </nav>
  </header>

  <section>
    <div id="content">
      <h1><a href="/">ADMIN</a></h1>
      <form method="post" action="/adminControl">
  
      
        {{if eq .User.ID 1}}
        {{range .AllUser}}
        <p>
            Name: {{.Username}}<br>
            <input type="text" name="Points" id="Points" placeholder="1,2,3">
        </p>
        <p>Point now: {{.Point}}</p>
        <br>
    
        {{end}}
        <input class="save-button" type="submit" value="SAVE">
        {{else}}
        <p>Come <a href="/">back</a> later with admin</p>
        {{end}}
      </form>
    </div>
  </section>

  <footer>
      <p>Other Applications: <a href="#app1">App 1</a>, <a href="#app2">App 2</a>, <a href="#app3">App 3</a></p>
  </footer>
  
</body>
</html>
