<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" href="/static/nameday.css">
</head>
<body>
  <div id="content">
    <h1>Task plan</h1>
    <form method="post" action="/taskday">
      <!-- Your form here -->
    </form>
    {{if ne .Task.WeekDay .Time }}
    <p>Today isn't: {{.Time}}</p>
    <p>Come back later</p>
    {{else}}
    <p>Schedule</p>
    <div id="calendar">
      <p>08:00-08:30 Morning exercises, hygiene procedures</p>
      <p>08:30-09:00 Breakfast</p>
      <p>09:00-09:40 Morning walk</p>
      <p>09:40-11:00 Discussion</p>
      <p>11:00-13:00 {{.Task.First}} <img class='small-image' src=/static/coin.png></p>
      <p>13:00-14:00 Lunch</p>
      <p>14:00-15:00 Walk</p>
      <p>15:00-17:00 {{.Task.Second}} <img class='small-image1' src=/static/coin.png></p>
      <p>17:00-19:00 {{.Task.Third}} <img class='small-image2' src=/static/coin.png></p>
      <p>19:00-20:00 Dinner</p>
      <p>20:00-22:00 Gathering, support, discussions</p>
      <p>22:00-22:45 Preparation for sleep</p>
      <p>22:45-08:00 Sleep</p>
    </div>
    {{end}}
  </div>
</body>
</html>
