body {
    cursor: url('crc.png'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* Измените шрифт по вашему выбору */
  }
  #content {
    text-align: center;
    max-width: 600px; /* Максимальная ширина контента */
    width: 100%;
  }
  #calendar {
    padding-left: 20px;
    text-align: left;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

    .small-image {
      width: 22px; /* Задайте нужную ширину */
      height: 20px; /* Задайте нужную высоту */
    }
  
   .small-image1{

      width: 22px; /* Задайте нужную ширину */
      height: 20px; /* Задайте нужную высоту */
   }
   .small-image2{
      width: 22px; /* Задайте нужную ширину */
      height: 20px; /* Задайте нужную высоту */
   }